<footer class="bg-mode py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Footer nav START -->
                <ul class="nav justify-content-center justify-content-md-start lh-1">
                    <li class="nav-item">
                        <a class="nav-link" href="my-profile-about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="#">Support </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="#">Docs </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="privacy-and-terms">Privacy & terms</a>
                    </li>
                </ul>
                <!-- Footer nav START -->
            </div>
            <div class="col-md-6">
                <!-- Copyright START -->
                <p class="text-center text-md-end mb-0">©2022 <a class="text-body" target="_blank" href="https://studios.gravicode.com"> Gravicode Studio </a>All rights reserved.</p>
                <!-- Copyright END -->
            </div>
        </div>
    </div>
</footer>
@code {

}
